.btn-float,
.btn-float-address {
    display: grid;
    place-items: center;
    position: fixed;
    height: 40px;
    width: 40px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--dark-cyan);
    color: var(--black);
    background-color: var(--dark-cyan);
}

.btn-float {
    z-index: 3;
}

.btn-float-address {
    z-index: 2;
}

.icon-btn-float {
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}

.bx-x {
    transform: rotate(360deg);
}

.icon-whatsapp {
    font-size: 1.8rem;
    transform: translateY(-50px);
    transition: all 0.2s ease-in-out;
}

.icon-whatsapp:hover {
    background-color: rgb(4, 221, 4);
    color: white;
    border-color: white;
}

.icon-instagram {
    font-size: 1.8rem;
    transform: translateY(-100px);
    transition: all 0.3s ease-in-out;
}

.icon-instagram:hover {
    background-color: rgb(82, 0, 129);
    color: white;
    border-color: white;
}