<address>
    <div class="btn-float">
        <!-- <ng-icon name="heroUsers" /> -->
        <!-- <i class='bx bxs-chat icon-btn-float'></i> -->
        <ng-icon name="matChatBubbleOutline" class="icon-btn-float"></ng-icon>
        <a href="https://wa.me/573205554483?text=Hola%20estoy%20interesado%20en%20sus%20servicios"><ng-icon name="matWhatsappOutline" class="icon-btn-float"></ng-icon></a>
    </div>
    <div id="icon-whatsapp" class="btn-float-address">
        <!-- <i class='bx bxl-whatsapp'></i> -->
        <a href="https://wa.me/573205554483"><ng-icon name="matWhatsappOutline" class="icon-btn-float"></ng-icon></a>
    </div>
    <div id="icon-instagram" class="btn-float-address">
        <!-- <i class='bx bxl-instagram'></i> -->
        <ng-icon name="saxInstagramBold" class="icon-btn-float"></ng-icon>
    </div>
</address>