.btn-float {
    display: flex;
    place-items: center;
    place-content: center;
    position: fixed;
    height: 3.6rem;
    width: 3.6rem;
    bottom: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: .18rem solid rgb(4, 221, 4);
    background-color: rgb(4, 221, 4);
    color: white;
    z-index: 3;
    transition: all 0.2s ease-in-out;
}


.btn-float:hover {
    border-color: white;
}

.icon-whatsapp {
    font-size: 2.5rem;
    transition: all 0.2s ease-in-out;
}