:host {
    display: block
}

.sm-card {
    background: var(--card);
    padding: 12px;
    border-radius: 12px;
    color: var(--muted)
}

.sm-card h3 {
    color: var(--accent);
    margin-bottom: 8px
}

.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}

.badges span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.03);
    padding: 6px 10px;
    border-radius: 999px;
    font-size: .9rem;
    gap: 0.2rem;
    color: var(--muted)
}
