:host {
    display: block
}

.sm-image {
    display: flex;
    align-items: center;
    justify-content: center
}

.sm-image img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: .8rem;
    border: .2rem solid rgba(255, 255, 255, 0.04);
    box-shadow: 0 .5rem 1.4rem rgba(0, 0, 0, 0.45)
}