<main class="card">
  <app-card-presentation></app-card-presentation>

  <section class="content">
    <h2>Sobre mí</h2>
    <p class="long">Especial interés en resolver problemas complejos mediante herramientas tecnológicas,
      con experiencia en contenedores Docker, desarrollo frontend y backend, y
      administración de sistemas Linux</p>

    <h3>Competencias</h3>
    <ul class="skills">
      <li>Docker & Containerización</li>
      <li>Frontend (HTML/CSS/JS, frameworks modernos)</li>
      <li>Backend (APIs, Node.js, etc.)</li>
      <li>Administración Linux & DevOps básico</li>
    </ul>
  </section>
  
  <app-projects></app-projects>
  
  <footer class="card-footer">
  </footer>
</main>

<app-float-btn></app-float-btn>

