<main class="card">
  <app-card-presentation></app-card-presentation>

  <section class="content">
    <h2>Sobre mí</h2>
    <p class="long">Especial interés en resolver problemas complejos mediante herramientas tecnológicas,
      con experiencia en contenedores Docker, desarrollo frontend y backend, y
      administración de sistemas Linux</p>

    <h3>Competencias</h3>
    <ul class="skills">
      <li>Docker & Containerización</li>
      <li>Frontend (HTML/CSS/JS, frameworks modernos)</li>
      <li>Backend (APIs, Node.js, etc.)</li>
      <li>Administración Linux & DevOps básico</li>
    </ul>
  </section>
  

  <footer class="card-footer">
  </footer>
</main>

<a id="wa-btn" class="wa-btn" aria-label="Contactar por WhatsApp" href="#">
  <svg viewBox="0 0 24 24" fill="none" aria-hidden>
    <path d="M20.5 3.5 3.5 20.5l.5 3 3-1.5L21.5 6.5 20.5 3.5z" fill="currentColor" opacity=".08" />
    <path d="M20.6 3.4a11.8 11.8 0 1 0-16.7 16.7L2 22l1.9-1.1A11.8 11.8 0 0 0 20.6 3.4z" fill="currentColor" />
    <path
      d="M17 14.2c-.3-.1-1.8-.9-2-.9-.2-.1-.4-.1-.6.1-.2.2-.8.9-1 1.1-.2.2-.3.3-.6.1-.3-.2-1.1-.4-2.1-1.3-.8-.7-1.3-1.5-1.5-1.8-.2-.4 0-.5.1-.6.1-.1.3-.3.4-.4.1-.2.1-.4 0-.6-.1-.2-.6-1.4-.8-1.9-.2-.5-.4-.4-.6-.4-.3 0-.6 0-.9 0-.3 0-.6.1-.9.4-.3.3-1.2 1.2-1.2 2.9s1.2 3.4 1.4 3.6c.2.2 2 .3 2.7.4.7.1 1.5.6 2.7 1.4 1.2.8 2 1 2.4 1.1.4.1 1.2.1 1.5.1s1-.4 1.1-.9c.1-.5.4-1.5.4-1.7 0-.2-.4-.4-.6-.5z"
      fill="#fff" />
  </svg>
</a>