<div class="project-card">
    <div class="card-image">
        <img [src]="project.image" [alt]="project.title" />
    </div>
    <div class="card-content">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <div class="technologies">
            <span class="tech-badge" *ngFor="let tech of project.technologies">
                <span class="tech-icon">
                    <ng-icon [name]="tech.icon" class=""></ng-icon>
                </span>
                {{ tech.name }}
            </span>
        </div>
    </div>
</div>