/* Imports  */
@import "tailwindcss";

/* Vars  */
:root {
  --bg: #0f0420;
  /* very dark purple */
  --card: #130524;
  --accent: #6b49ff;
  /* bluish purple */
  --muted: #b9aef5;
  --glass: rgba(255, 255, 255, 0.03);
  --radius: 1rem;
  --white: #00161a;
  --black: white;
  --dark-cyan: rgb(60, 0, 87);
  --text-input-field: rgba(0, 139, 139, 0.144);
  --aqua: aqua;
  --sm: .9rem;
  --md: 1rem;
  --lg: 1.1rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-size: 16px;
}
@media (1000px < width) {
    html {
        font-size: 16px;
    }
}
@media (2500px < width) {
    html {
        font-size: 26px;
    }
}
@media (4000px < width) {
    html {
        font-size: 36px;
    }
}
@media (5500px < width) {
    html {
        font-size: 46px;
    }
}
@media (7000px < width) {
    html {
        font-size: 56px;
    }
}

body {
  display: flex;
  height: 100vh;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: radial-gradient(1200px 600px at 10% 10%, rgba(107, 73, 255, 0.08), transparent),
    linear-gradient(180deg, var(--bg), #090217 80%);
  color: #e8e7ff;
}